body {
    background-color: black;
}


img {
    position: absolute;
}
#my_pfp {
    width: 300px;
    height: auto;
    border-radius: 25px;
    left: 650px;
    top: 300px;
}

nav {
    position: absolute;
    top: 10px;
    left: 49%;
    transform: translateX(-50%);
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.nav {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.hp {
    background-color: black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    text-decoration: none;
}

.hp:hover {
    background-color: darkgrey;
}

h1, h2, p {
    color: white;
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    left: 970px;
    top: 350px;
}

h2 {
    left: 970px;
    top: 390px;
}

p {
    left: 995px;
    top: 428px;
}

/* So pra dar uma quebra de linhas */

@media (min-width: 320px ) {
    img {
        position: absolute;
    }
    #my_pfp {
        width: 150px;
        height: auto;
        border-radius: 25px;
        left: 20px;
        top: 330px;
    }
    
    nav {
        position: absolute;
        top: 10px;
        left: 45%;
        transform: translateX(-50%);
        background-color: black;
        padding: 10px;
        border-radius: 10px;
    }
    
    .nav {
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .hp {
        background-color: black;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        color: white;
        text-decoration: none;
    }
    
    .hp:hover {
        background-color: darkgrey;
    }
    
    h1, h2, p {
        color: white;
        position: absolute;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    h1 {
        font-size: 22px;
        left: 177px;
        top: 352px;
    }
    
    h2 {
        font-size: 17px;  
        left: 175px;
        top: 377px;
    }
    
    p {
        font-size: 15px;
        left: 178px;
        top: 397px;
    }
}
